.datesHeader,
.dates {
    display: grid;
    grid-template-columns: repeat(7, minmax(20px, 1fr));
    column-gap: 5.5%;
    grid-auto-rows: 1fr;

    padding: 0 8% 0 5.5%;
}

.datesHeader {
    padding-top: 6%;
    padding-bottom: 4%;
    text-align: end;
}

.dates {
    text-align: center;

    font-size: 14.5366px;
    line-height: 18px;

    color: #7C86A2;
}

.dates::before,
.datesHeader::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.dates > *:first-child,
.datesHeader > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
