.main {
    height: 0;
    padding-bottom: 100%;
    width: 100%;
    position: relative;
}

.circle {
    visibility: hidden;
    border-radius: 50%;
    border: 2px solid #7ed5fc;
}

.circle[today],
.main:hover div,
.circle[selected] {
    visibility: visible;
}

.circle[selected] {
    background: linear-gradient(0deg, #7ed5fc 0%, #90d9fa 100%);
}

.circle,
.dateWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dateWrapper {
    display: flex;
}

.date {
    position: relative;
    margin: auto;

    font-size: 14px;
}

.date[filled] {
    color: #AA3434;
}

.date[selected] {
    color: #FFFFFF;
}

.date[hidden] {
    visibility: hidden;
}
