.main {
    display: flex;
}

.main:hover,
.main[today],
.main[selected] {
    border-radius: 50%;
    border: 2px solid #7ed5fc;
}

.main[selected] {
    background: linear-gradient(0deg, #7ed5fc 0%, #90d9fa 100%);
}

.main[hidden] {
    visibility: hidden;
}

.date {
    position: relative;
    margin: auto;

    font-size: 14px;
}

.date[filled] {
    color: #AA3434;
}

.date[selected] {
    color: #FFFFFF;
}
