.title {
    margin: auto;
}
.dateWrapper {
    width: 8.7%;
    height: 0;
    padding-bottom: 8.7%;
    position: relative;

    margin-right: auto;

}

.date {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;

    font-size: 14px;
}

.selected {
    color: #FFFFFF;
    border-radius: 50%;
    background: linear-gradient(0deg, #7ED5FC 0%, #90d9fa 100%);
}

.today,
.date:hover {
    border-radius: 50%;
    border: 2px solid #6acbfc;
}

.filled {
    color: #AA3434;
}

.hidden {
    visibility: hidden;
}
