.main {
    display: flex;
}

.completedButton {
    width: 16px;
    height: 16px;

    background: #F2F3F3;
    border-radius: 2px;
}

.todoText {
    padding: 0 19px;

}

.todoText[completed] {
    text-decoration: line-through;
}

